name: React Native Android CI

on:
  push:
      branches: ["main"]
  pull_request:
      branches: ["main"]
    
jobs:
  build:
    name: Build Android
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: npm

    - name: Install dependencies
      run: npm install

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17

    - name: Set up Android SDK
      uses: android-actions/setup-android@v3

    - name: Create environment file
      run: |
        echo "API_URL=${{ secrets.API_URL }}" > .env
        echo "API_EVN=${{ secrets.API_URL }}" >> .env
    
    - name: Grant execute permission
      run: chmod +x android/gradlew
    
    - name: Build Android APK
      run: |
        cd android
        ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: android-apk
        path: android/app/build/outputs/apk/debug/app-debug.apk